body{
	background: #F2F2F2;
	font-family: sans-serif;
}
 
.calculator{
	width: 335px;
	background: #b14513;
	margin: 100px auto;
	padding: 10px 20px 50px 20px;
	border-radius: 5px;
	box-shadow: 0px 10px 20px 0px #D1D1D1;
}
 
.bil{
	width: 300px;
	margin: 5px;
	border: none;
	font-size: 16pt;
	border-radius: 5px;
	padding: 10px;	
}
 
.opt{
	font-size: 16pt;
	border: none;
	width: 215px;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
}
 
.button{
	background: #ecae51;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: black;
	font-size: 15pt;
	border-bottom:4px solid #BF3D3D;
}
 
.title{
	text-align: center;
	color: #eee;
	font-weight: normal;
}